<launch>
  <arg name="calibration"             default="false" /> <!-- If calibration true, publish apriltag tool tf and do not publish camera tf's-->

  <!-- The following 2 args are written to by camera_calibration_commander.py-->
<arg name="tf_camera_top_robot_base_args" default="-0.5792454741996966 -0.0672614706670398 1.433976572123726 -0.00983816002747537 0.7378299008994689 0.01590781220362429 0.6747274927382522 robot_base zed_top/base_link 10"/>

  <node name="tf_robot_base_map" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 map robot_base 10" />
  <node pkg="robot_utils" type="dynamic_frames.py" name="dynamic_frames"/>

  <group unless="$(arg calibration)">
    <node name="tf_camera_top_robot_base" pkg="tf" type="static_transform_publisher" args="$(arg tf_camera_top_robot_base_args)"/>
  </group>
  
  <group if="$(arg calibration)">
    <node name="tf_april_tag0_bucket" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.05 0.0 0.0 1.0 0.0 bucket tag_0_cad 10"/>
  </group>

</launch>