<launch>
  
  <include file="$(find robot_utils)/launch/joystick.launch"/>
  
  <include file="$(find robot_utils)/launch/frames.launch">
      <arg name="calibration" value= "true"/>
  </include>

  <node pkg="ur_lightweight_driver" type="ur_rtde_driver.py" name="ur_rtde_driver" output="screen">
      <param name="config_file" value="$(find ur_rtde)/src/control_loop_configuration.xml"/>
  </node>
  
  <node pkg="ur_lightweight_driver" type="command_manager.py" name="command_manager" output="screen" />
  
  <node pkg="robot_utils" type="camera_calibration_commander.py" name="camera_calibration_commander" output="screen">
      <param name="frames_file" value="$(find robot_utils)/launch/frames.launch"/>
  </node>

  <include file="$(find robot_utils)/launch/cameras.launch"/>
 
  <include file="$(find robot_utils)/launch/apriltags.launch"/>

  <include file="$(find robot_utils)/launch/viz.launch"/>

</launch>